video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-mute-button {
  display: none !important;
}

video::-webkit-media-controls-overlay {
  display: none !important;
}
